@theme {
  --breakpoint-sm: 769px;
  --breakpoint-md: 1025px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;

  --font-primary: var(--font-aeonik), "sans-serif";
  --font-cookie: "Cookie", cursive;

  --text-2xs: 12px;
  --text-2xs--line-height: 18px;
  --text-xs: 14px;
  --text-xs--line-height: 21px;
  --text-sm: 16px;
  --text-sm--line-height: 24px;
  --text-md: 20px;
  --text-md--line-height: 26px;
  --text-lg: 24px;
  --text-lg--line-height: 31px;
  --text-xl: 50px;
  --text-xl--line-height: 65px;

  --font-weight-normal: 400;
  --font-weight-bold: 500;

  /* Brand Colors */
  --color-swm-brand-100: #001a72;
  --color-swm-brand-80: #33498b;
  --color-swm-brand-60: #6676aa;
  --color-swm-brand-40: #919fcf;

  /* Brand Accents */
  --color-brand-sea-blue-20: #e1f3fa;
  --color-brand-yellow-20: #fffae1;

  /* Base */
  --color-white: #ffffff;

  /* Slate */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-150: #e9eff5;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  /* Gray */
  --color-gray-50: #f9f9f9;
  --color-gray-100: #e7e7e7;
  --color-gray-200: #d1d1d1;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #888888;
  --color-gray-500: #6d6d6d;
  --color-gray-600: #5d5d5d;
  --color-gray-700: #454545;
  --color-gray-800: #303030;
  --color-gray-900: #282828;
  --color-gray-950: #1f1f1f;

  --color-gray-border: #d9dde8;

  /* Colors */
  --color-dark-cold: #0d0f26;
  --color-dark-warm: #26251f;

  --color-primary: var(--color-dark-warm);
  --color-secondary: var(--color-swm-brand-100);
  /* --color-tertiary: var(--color-swm-brand-40); */

  --color-badge-yellow: #ffe572;
  --color-beige-light: #fffbef;
  --color-beige-1: #f6f2e5;
  --color-beige-2: #fcfaf1;
  --color-beige-3: #fffaf0;
  --color-beige-4: #fff4c0;

  --color-sea-blue: var(--color-brand-sea-blue-20);
  --color-reservation-blue: #5eafe6;
  --color-reservation-blue-bright: #e2f2fd;
}

@layer base {
  @variant sm {
    :root {
      --text-2xs: 14px;
      --text-2xs--line-height: 21px;
      --text-xs: 16px;
      --text-xs--line-height: 24px;
      --text-sm: 18px;
      --text-sm--line-height: 27px;
      --text-md: 20px;
      --text-md--line-height: 26px;
      --text-lg: 28px;
      --text-lg--line-height: 36.5px;
      --text-xl: 62px;
      --text-xl--line-height: 80.5px;
    }
  }

  @variant md {
    :root {
      --text-2xs: 14px;
      --text-2xs--line-height: 21px;
      --text-xs: 16px;
      --text-xs--line-height: 24px;
      --text-sm: 18px;
      --text-sm--line-height: 27px;
      --text-md: 24px;
      --text-md--line-height: 31px;
      --text-lg: 32px;
      --text-lg--line-height: 41.5px;
      --text-xl: 72px;
      --text-xl--line-height: 93.5px;
    }
  }

  @variant lg {
    :root {
      --text-2xs: 14px;
      --text-2xs--line-height: 21px;
      --text-xs: 16px;
      --text-xs--line-height: 24px;
      --text-sm: 18px;
      --text-sm--line-height: 27px;
      --text-md: 24px;
      --text-md--line-height: 31px;
      --text-lg: 32px;
      --text-lg--line-height: 41.5px;
      --text-xl: 72px;
      --text-xl--line-height: 93.5px;
    }
  }
  code {
    font-family: inherit;
    font-weight: inherit;
  }
}
